.meals {
    position: relative;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;

    &__shade {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: black;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }

    &__item {
        position: relative;
        width: calc(100% - 30px);
        padding: 15px;
        opacity: 1;
        transition: opacity .3s ease-in-out;

        @media (min-width: 700px) {
            width: calc(50% - 30px);
        }

        @media (min-width: 1200px) {
            width: calc(33.33% - 30px);
        }

        .item {

            &__holder {
                background: white;
            }
            &__image {
                width: 100%;
            }

            &__information {
                display: none;
                padding: 0 20px 20px;
                text-align: left;

                .information {
                    &__list {
                        margin: 0;
                        padding: 0;
                        list-style: none;

                        .list {
                            &__item {
                                text-align: left;
                            }
                        }
                    }
                }
            }

            &__favourites {
                position: absolute;
                top: 30px;
                right: 30px;
                width: 40px;
                height: 40px;
                padding: 0;
                margin: 0;
                border: none;
                background: transparent;
                outline: none;

                
                .favourites {
                    &__heart {
                        width: 40px;
                        height: 40px;
                    }
                }
                
                &--active {
                    .favourites {
                        &__heart {
                            path {
                                fill: red;
                            }
                        }
                    }
                }
            }

        }

        &--open{
            .item {
                &__information {
                    display: block;
                }
            }
        }
    }

    &--open {
        .meals {
            &__item {
                opacity: .5;

                &--open {
                    opacity: 1;
                    z-index: 3;
                }
            }
            &__shade {
                opacity: .3;
                z-index: 2;
            }
        }
    }
}