.favourites {
    position: relative;
    max-width: 100%;

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 150px;
        background: white;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 5px 25px;
        cursor: pointer;

        @media (min-width: 700px) {
            min-width: 200px;
        }

        .button {
            &__name {
                padding: 0;
                margin: 0;
            }
            &__heart {
                position: absolute;
                width: 20px;
                height: 20px;
                right: 10px;
                top: 5px;

                path {
                    fill: red;
                }
            }
        }
    }


    &__list {
        position: absolute;
        top: 29px;
        border: 1px solid gray;
        border-top: 0;
        border-radius: 0 0 10px 10px;
        left: 0;
        width: 100%;
        background: white;
        padding: 10px;
        margin: 0;
        opacity: 0;
        box-sizing: border-box;
        list-style: none;

        .list {
            &__item {
                padding: 5px 0;

                button {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 5px;
                    background: none;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    
                    img {
                        max-width: 20px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    &--open {

        .favourites {
            &__button {
                border-radius: 10px 10px 0 0;
            }
            
            &__list {
                opacity: 1;
            }
        }
    }
}