.header {
    position: fixed;
    height: 20px;
    width: calc(100vw - 40px);
    padding: 20px;
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;

    &__burger {
        position: relative;
        width: 20px;
        height: 16px;

        span {
            position: absolute;
            width: 20px;
            height: 2px;
            left: 0;
            
            background: black;
            

            &:first-child {
                top: 0;
            }

            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }

            &:last-child {
                bottom: 0;
            }
        }
    }

    &__search {
        display: none;

        @media (min-width: 700px) {
            display: block;
        }
    }

}