.sidebar {
    position: fixed;
    height: calc(100vh - 60px);
    width: 200px;
    top: 60px;
    left: 0;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
    background: gray;
    z-index: 10;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;

    &--active {
        transform: translateX(0);
    }

    &__mobile {

        @media (min-width: 700px) {
            display: none
        }
    }

    &__item {

        .item {
            &__name {
                text-transform: capitalize;
            }

            &__list {
                margin: 0;
                padding: 0;
                list-style: none;

                .list {
                    &__item {
                        margin: 10px 0;
                        border-radius: 20px;
                        padding: 5px 10px;
                        cursor: pointer;
                        color: white;

                        &--active {
                            background: blue;
                        }
                    }
                }
            }
        }
    }
}