.App {
  text-align: center;
}

.search {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px 10px;
  color: black;
  min-width: 140px;
  outline: none;
  max-width: 100%;

  @media (min-width: 700px) {
      min-width: 200px;
  }
}
